header.header
	.container
		a(href="/" title='Гидрорезерв').g-logo.header__logo
			img(src="./web/images/general/logo.svg", alt="Гидрорезерв")
			.g-logo__text
				span Гидрорезерв
				span Пополняем ваш запас воды
	//- .hide-nav
		span.hide-nav__line.hide-nav__line--top
		span.hide-nav__line.hide-nav__line--middle
		span.hide-nav__line.hide-nav__line--bottom