- let socialsLink = ['vk', 'fb', 'inst']

-
	const problems = [
		{
			title: 'Своевременное пополнение запасов воды в офисе',
			descr: 'Часто сложно уследить, что вода для кулера заканчивается, и приходится заказывать в экстренном порядке получая проблему с доставкой',
			imgUrl: './web/images/general/clock.svg'
		},
		{
			title: 'Своевременная прочистка кулера',
			descr: 'Зная средний расход воды в месяц, мы можем вовремя забрать кулер для прочистки (с выдачей нового) или прочистить на месте',
			imgUrl: './web/images/general/sim.svg'
		},
		{
			title: 'Доставка без нервотрёпки',
			descr: 'Благодаря датчику в кулере, мы будем заранее знать, когда понадобится новая вода, и заблаговременно ее подвезем',
			imgUrl: './web/images/general/delivery.svg'
		},
		{
			title: 'Утилизируем пустую тару',
			descr: 'Забираем использованную тару, в момент привоза новой',
			imgUrl: './web/images/general/trash.svg'
		},
	]