include ../helpers/mixins
include ../helpers/variables
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		// includes favicons
		link(rel='apple-touch-icon' sizes='180x180' href='web/images/favicons/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='web/images/favicons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='web/images/favicons/favicon-16x16.png')
		link(rel='manifest' href='web/images/favicons/site.webmanifest')

		//include bootstrap
		//- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
		
		link(rel="stylesheet" type='text/css' href="web/css/styles.css")
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer


		//- script(src="web/js/jquery-3.3.1.min.js")
		//- script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
		//- script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
		
		script(src="web/js/vendor/libs.js")
		script(src="web/js/plugins.js")
		script(src="web/js/ajax-settings.js")
		script(src="web/js/main.js")
		block script
