@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
		  url(#{$path}.eot?#iefix) format('embedded-opentype'),
      url(#{$path}.woff) format("woff"),
      // url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

//Пример как подключать шрифты

@include font-face('Circe', '../fonts/Circe-Regular', 'normal', 'normal');

@include font-face('Circe-Bold', '../fonts/Circe-Bold', 'bold', 'normal');

@include font-face('Circe-ExtraBold', '../fonts/Circe-ExtraBold', '800', 'normal');
