// Colors
$white: #fff;
$black: #000;
$mainColor: #000;
$accentColor: #50B700;
$yellowColor: #FFC700;


// Sizes
$base-font-size: 16px;

$mobile: 577;
$tablet: 768;
$large: 992;
$desktop: 1199;

$content: 1340px;

// Fonts
$mainFont: 'Circe';
$mainBoldFont: 'Circe-Bold';
$mainEBoldFont: 'Circe-ExtraBold';