section.g-section
	.container
		.g-title-wrap
			h2.g-title Гибкая система <br>оплаты
			span.g-second-title Воспользуйтесь нашим  <br>калькулятором

		.calc
			.calc__col
				label
					span Количество кулеров:
					input(type="text" data-calc='true' data-type='COOLER_PRICE' value=' шт')
				label
					span Количество бутылей:
					input(type="text" data-calc='true' data-type='BOTTLE_PRICE' value=' шт')
				
			
			.calc__col
				.price =
					span.rub.current-price 0

			.calc__col
				.calc__next-price
					span Каждое следующее<br> пополнение:
					span.rub.next-price 0

		
		img(src="./web/images/general/big-green-wave.svg").g-wave.calc-wave