section.g-section
	.container
		.g-title-wrap
			h2.g-title Гибкая система <br>оплаты
			span.g-second-title Воспользуйтесь нашим  <br>калькулятором

		.calc
			.calc__col
				label
					span Количество кулеров:
					input(type="text")
				label
					span Количество бутылей:
					input(type="text")
				
				img(src="./web/images/general/green-wave.svg").g-wave

