section.g-section.g-section--green.g-section--mt
	.container
		.forms
			.forms__col
				.g-title-wrap.g-title-wrap--white
					h2.g-title.g-title--white Остались  <br>вопросы?
					span.g-second-title: b Оставьте заявку, мы свяжемся <br> с Вами и расскажем все подробности
				
				button.g-btn Оставить заявку

				img(src="./web/images/general/big-flower.png", alt="")

			.forms__col
				.g-title-wrap.g-title-wrap--white
					h2.g-title.g-title--white Остались  <br>вопросы?
					span.g-second-title: b Заполните поля и  мы свяжемся<br> с Вами в ближайшее время.
				form
					label
						input(type="text" placeholder='Имя' required)
					label
						input(type="text" placeholder='Телефон или e-mail' required)
					label
						textarea(placeholder='Ваш вопрос' rows='3')
			 
					button.g-btn Отправить

