section.g-section.main
	.container
		h1.g-title Вода в офис <br> по подписке
		.g-descr
			p Устанавливаем кулер с датчиком расхода, автоматически пополняем ваш запас воды!
			img(src="./web/images/general/green-wave.svg").g-wave