footer.footer
	.container
		a(href="/" title='Гидрорезерв').g-logo.footer__logo
			img(src="./web/images/general/logo.svg", alt="Гидрорезерв")
			.g-logo__text
				span Гидрорезерв
				span Пополняем ваш запас воды
		
		span.copyright Copyright 2021 <br> Все права защищены